.canvas-big {
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
}
td {
  padding: 10px 0px 0px 10px;
  text-align: center;
}
.err {
  color: red;
  font-weight: bold;
}
.hidden {
  display: none;
}
.cell-top {
  vertical-align: top;
}
.centered {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.scrollmenu {
  background-color: #999;
  overflow: auto;
  white-space: nowrap;
  width: 640px;
}
.menu canvas {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  width: 128px;
  height: 96px;
}
.menu canvas:hover {
  background-color: rgb(122, 122, 122);
  position: relative;
  top: 0px;
}
body {
	margin: 3em;
}
.menu-wrapper {
	position: relative;
	max-width: 640px;
  /*height: 98px;*/
  height: 110px;
	margin: 1em auto;
	overflow-x: hidden;
	overflow-y: hidden;
	border: 1px solid gray;
}
.menu	{
	background: #f3f3f3;
	box-sizing: border-box;
	
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}
.item {
  display: inline-block;
  width: 100px;
  height: 100%;
  box-sizing: border-box;
}
.item span{
  height: 30px;
  vertical-align: bottom;
  margin: left;
}
.paddle {
	position: absolute;
	top: 0;
	bottom: 0;
}
.left-paddle {
	left: 0;
}
.right-paddle {
	right: 0;
}
.left-paddle span{
  position: relative;
  bottom: 18px;
  font-size: 100px;
  line-height: 100px;
  color: gray;
}
.right-paddle span{
  position: relative;
  bottom: 18px;
  font-size: 100px;
  line-height: 100px;
  color: gray;
}
.hidden {
	display: none;
}