.canvas-big, video {
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
}
td {
  padding: 10px 0px 0px 10px;
  text-align: center;
}
.err {
  color: red;
  font-weight: bold;
}
.hidden {
  display: none;
}
.cell-top {
  vertical-align: top;
}
.centered {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
div.scrollmenu {
  background-color: #999;
  overflow: auto;
  white-space: nowrap;
  width: 640px;
}
div.scrollmenu canvas {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 7px;
  text-decoration: none;
  cursor: pointer;
  width: 64px;
  height: 48px;
}
div.scrollmenu canvas:hover {
  background-color: #333;
}